__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
.DS_Store
*.egg-info/
# Dataset
data/creditcard.csv

# Virtual environments
mudienv/
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# macOS
.DS_Store

